body {
    background-color: #3F78EA !important;
    font-family: 'Shippori Antique', sans-serif !important;

    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 

    scroll-behavior: smooth;
}

p {
    color: #F4BBE7;
    -webkit-text-stroke: 0.5px black;
}

.titulo {
    font-size: 60px;
    color: #F4BBE7;
    -webkit-text-stroke: 0.5px black;
}

.subtitulo {
    font-size: 30px;
    color: #F4BBE7;
    -webkit-text-stroke: 0.5px black;
}

.retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE59D;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 20px; 
    max-width: 600px; 
    margin: 0 auto; 
}

.fakenews {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 0;
}

.topicos {
    text-align: left;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

.fonte {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: black;
    font-size: 12px;
    margin: 0;
}

.icone {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
}

.toggle-list {
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

.toggle-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

.toggle-button {
    background-color: #FFE59D;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #F4BBE7;
}


.toggle-content {
    display: none;
}

.toggle-content p {
    font-size: 25px;
    color: black;
    margin: 0;
}

a {
    color: black !important;
}

ul.sem-marcadores{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.sem-marcadores li {
    color: black;
    font-size: 20px;
    margin-left: 30px;
    position: relative;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
}

.dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}


@keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.video {
    width: 560px;
    height: 315px;
    margin-bottom: 20px;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: black;
}